.clear-fix{
  clear: both;
}

*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
html, body{
  background-color: rgba(186, 190, 190, 0.6);
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.top-bar{
  background-color: white;
}
.second-top{
  top:53px;
  background-color: rgb(13, 13, 82);
  text-align: center;
}
.logo{
  width: 7%;
  height: 7%;
  display: inline-block;;
  float:left;
  margin-left: 25%;
  padding: 5px;
  padding-bottom: 0px;
  background-color: #f47b00;
  border-radius: 47%;
}
.emergency{
  color: white;
  font-size: 17px;
  text-align: center;
  margin-right: 30%;
}
.company-name{
  text-align: center;
  font-size: 39px;
  font-family: 'Lobster', cursive;
  color:rgb(13, 13, 82);
  display: inline-block;
}
.body-part{
  width: 76.5%;
  margin-left: 162px;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 300px;
  margin: 0 auto;
}
.add-employee{
  margin-top: 150px;
  text-align: center;
}
.remove-employee{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.display-employees{
  border: 1px solid black;
  text-align: center;
}
.employees-on-the-clock{
  padding-left: 100px;
}
ul{
  list-style-type: none;
}
.schedule-display {
  margin-top: 50px;
  margin-bottom: 35px;
  background-color: white;
  padding-bottom: 80px;
}
td {
  width:600px;
}
li{
  text-align: center;
}
li:nth-child(odd) {
    background-color: rgba(186, 190, 190, 0.6);
}
