.clear-fix{
  clear: both;
}

*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
html, body{
  background-color: rgba(186, 190, 190, 0.6);
}
.header{
  position: fixed;
  width: 88%;
  top: 0;
  z-index: 10;
}
.top-bar{
  background-color: white;
  margin-left: 15%;
}
.second-top{
  top:53px;
  background-color: rgb(13, 13, 82);
  text-align: center;
  margin-left: 15%;
}
.logo{
  width: 7%;
  height: 7%;
  display: inline-block;;
  float:left;
  margin-left: 24%;
  margin-right: 8px;
  padding: 5px;
  padding-bottom: 0px;
  background-color: #D6811F;
  border-radius: 47%;
}
.emergency{
  color: white;
  font-size: 14px;
  text-align: center;
  margin-right: 90px;
}
.company-name{
  text-align: center;
  font-size: 39px;
  font-family: 'Lobster', cursive;
  color:rgb(13, 13, 82);
  display: inline-block;
}
.edit-profile-picture{
  height: 200px;
  width: 200px;
  margin-top: 500px;
  margin-left: 40%;
}
.image-form{
  margin-top: 50px;
  margin-left: 40%;
}
.profile-form{
  margin-top: 10px;
  margin-left: 35%;
}
.body-part{
  width: 76.5%;
  margin-left: 162px;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 300px;
}
