.clear-fix{
  clear: both;
}

*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
html{
  background-color: rgba(186, 190, 190, 0.7);
}
.header{
  position: fixed;
  width: 85%;
  top: 0;
  z-index: 10;
}
.top-bar{
  background-color: white;
  margin-left: 15%;
}
.second-top{
  top:53px;
  background-color: rgb(13, 13, 82);
  text-align: center;
  margin-left: 15%;
}
.logo{
  width: 7%;
  height: 7%;
  display: inline-block;;
  float:left;
  margin-left: 25%;

  padding: 5px;
  padding-bottom: 0px;
  background-color: #f47b00;
  border-radius: 47%;
}
.emergency{
  color: white;
  font-size: 17px;
  text-align: center;
  margin-right: 7%;
}
.company-name{
  text-align: center;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  color: rgb(13, 13, 82);
  display: inline-block;
}
.body-part{
  width: 76.5%;
  height: 100%;
  margin 0 auto;
  background-color: white;
  padding-top: 8px;
}
.login{
  border: 5px double rgba(186, 190, 190, 0.3);
  width: 50%;
  height: 200px;
  text-align: center;
  padding: 50px;
  padding-top: 8px;
  margin: 200px auto;
  margin-bottom: 60px;
}
.please-login{
  font-size: 36px;
  margin-right: 20%;
  color: rgb(13, 13, 82);
}
.userid{
  margin: 2px;
  margin-right: 10%;
  font-size: 19px;
}
.pswrd{
  margin: 4px;
  margin-right: 10%;
  font-size: 19px;
  padding-bottom: 15px;
}
#button{
  width: 70%;
  margin-top: 18px;
  margin-right: 3%;
  background-color: #f47b00;
  color: white;
  border: 2px black;
  text-decoration: none;
  padding: 8px;
}
@keyframes slider {
  0%{
    left: 0;
  }
  10%{
    left: 0;
  }
  20%{
    left:-100%;
  }
  30%{
    left:-200%;
  }
  40%{
    left: -200%;
  }
  50%{
    left: -300%;
  }
  60%{
    left: -300%;
  }
  70%{
    left:-400%;
  }
  80%{
    left: -400%;
  }
  90%{
    left:-500%;
  }
  100%{
    left: -500%;
  }
}
#slider{
  overflow: hidden;
  margin-top: 100px;
}
#slider figure img{
  width: 3%;
  height: 170px;
  float: left;
}
#slider figure{
  position: relative;
  width: 607%;
  margin: 0;
  left: -100%;
  text-align: left;
  font-size: 0;
  animation: 22s slider infinite;
}
